<div class="modal-header">
  <h4 class="modal-title">Show Employee</h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <label>Name<span class="required"> required</span></label>
      <span>{{employee.name}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <label>Email</label>
      <span>{{employee.email}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <label>SSN</label>
      <span>{{employee.ssn}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <label>Salary</label>
      <span>{{employee.salary}}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
  </div>
</div>